/* noemirtil */

:root {
    --backGray:#f8f8f8;
    --borderGray: rgb(219, 219, 219);
    --btnGreen: rgb(12, 167, 50);
    --btnRed: rgb(233, 0, 48);
    --rowGray: rgb(241, 241, 241);
}

* {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.1s ease-in-out;
}

body {
    background-color: var(--backGray);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    background-color: white;
    width: 84vw;
    position: fixed;
    top: 10vh;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgb(206, 206, 206);

    h1 {
        text-align: center;
        font-size: 1.6rem;
        margin: 1rem;
    }

    h2 {
        color: var(--btnRed);
        text-align: center;
        font-size: 1rem;
        margin: 1rem;
    }
    
    h4 {
        text-align: center;
        font-size: 1rem;
        margin: 1rem;
    }

    #inputs {
        display: flex;
        gap: 0.5rem;
        margin-block: 1.2rem;

        #btn-task {
            padding: 0.3rem 0.7rem;
            background-color: var(--btnGreen);
            color: white;
            border-radius: 5px;
            border-style: none;
            cursor: pointer;
        }

        #btn-task:hover {
            background-color: var(--btnGreen);
            transform: scale(1.05);
        }

        #task {
            flex: 1;
            padding: 0.4rem;
            border-radius: 5px;
            border-style: solid;
            border-width: 1px;
            border-color: var(--borderGray)
        }

        #task:focus {
            outline: none;
            border-color: var(--btnGreen);
        }
    }

    li {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0.6rem;

        .delete-task {
            padding: 0.3rem 0.6rem;
            background-color: var(--btnRed);
            color: white;
            border-radius: 5px;
            border-style: none;
            cursor: pointer;
        }

        .delete-task:hover {
            background-color: var(--btnRed);
            transform: scale(1.1);
        }
    }

    hr {
        border: 1px solid var(--rowGray);
    }

    hr:last-of-type {
        display: none;
    }
}