/* noemirtil */

* {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f8f8f8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    background-color: white;
    width: 84vw;
    position: fixed;
    top: 10vh;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgb(206, 206, 206);

    h1 {
        text-align: center;
        font-size: 1.6rem;
        margin: 1rem;
    }

    #inputs {
        display: flex;
        gap: 0.5rem;
        margin-block: 1.2rem;

        #agregar {
            padding: 0.3rem 0.7rem;
            background-color: rgb(12, 167, 50);
            color: white;
            border-radius: 5px;
            border-style: none;
        }

        #tareaInput {
            flex: 1;
            padding: 0.4rem;
            border-radius: 5px;
            border-style: solid;
            border-width: 1px;
            border-color: rgb(219, 219, 219);
        }
    }
    
    li {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0.6rem;
        
        .deleteBtn {
            padding: 0.3rem 0.6rem;
            background-color: rgb(233, 0, 48);
            color: white;
            border-radius: 5px;
            border-style: none;
        }
    }
    
    hr {
        border: 1px solid rgb(241, 241, 241);
    }
    
    hr:last-of-type {
        display: none;
    }
}